{% render 'proviews_widget' %}
{% comment %}
<!-- Proviews Start -->
{% if shop.metafields.proviews.aggregateRatingSchema == "product"%}
  {% assign prorw_gtin_num = product.selected_or_first_available_variant.barcode | size %}
  <script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"Product",
    "@id":"{{ shop.url }}{{ product.url}}", 
    "productId": "{{ product.id }}",
    "name": {{ product.title | json }},
    "description": {{ product.description | strip_html | truncatewords: 50 | json }},
    "sku": {{ product.selected_or_first_available_variant.sku | json }},
    "url": {{ canonical_url | json }},
    "image": "https:{{ product.featured_image | product_img_url: 'grande' }}",
    {% if prorw_gtin_num == 12 or prorw_gtin_num == 13 or prorw_gtin_num == 14  %}
    "gtin{{prorw_gtin_num}}":"{{ product.selected_or_first_available_variant.barcode }}",
    {% endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }},
      "url": {{ jsonld_brand_url | json }}
    },
    {% if product.metafields.proviews.totalReviewCount != blank and product.metafields.proviews.totalReviewCount != "0" %}
    "aggregateRating": [{
      "@type": "AggregateRating",
      "ratingValue": "{{ product.metafields.proviews.averageRatings }}",
      "reviewCount": "{{ product.metafields.proviews.totalReviewCount }}",
      "bestRating": "5",
      "worstRating": "1"
    }],
    "review":[{
      "@type": "Review",
    "itemReviewed":[{
          "@type": "Thing",
      "name": {{ product.title | json }},
            "image": "https:{{ product.featured_image | product_img_url: 'grande' }}",
            "datePublished": "{{ product.metafields.proviews.created_at }}"
        }],
        "author": [{
          "@type": "Person",
      "name": {{ shop.name | json }}
        }],
        "reviewRating": [{
          "@type": "Rating",
            "ratingValue": "{{ product.metafields.proviews.averageRatings }}",
        "bestRating": "5",
        "worstRating": "1"
        }]
    }],
    {% endif %}
    "offers": [{
      "@type": "Offer",
      "priceCurrency": "{{ shop.currency }}",
      "price": "{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}",
      "priceValidUntil": "{{ "today" | date: '%s' | plus: days | date: "%Y-%m-%d" }}",
      "availability": "{% if product.selected_or_first_available_variant.available %}InStock{% else %}OutOfStock{% endif %}",
      "itemCondition": "http://schema.org/NewCondition",
      "seller": "{{ shop.name | escape }}",
      "url": "{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}"
    }]  
  }
  </script>
{% endif %}
{% if shop.metafields.proviews.aggregateRatingSchema == "aggregate" %}
  <script type="application/ld+json">
  {% if product.metafields.proviews.totalReviewCount != blank and product.metafields.proviews.totalReviewCount != "0" %}
  {
    "aggregateRating": [{
      "@type": "AggregateRating",
      "ratingValue": "{{ product.metafields.proviews.averageRatings }}",
      "reviewCount": "{{ product.metafields.proviews.totalReviewCount }}",
      "bestRating": "5",
      "worstRating": "1"
    }],
    "review":[{
      "@type": "Review",
    "itemReviewed":[{
          "@type": "Thing",
      "name": {{ product.title | json }},
            "image": "https:{{ product.featured_image | product_img_url: 'grande' }}",
            "datePublished": "{{ product.metafields.proviews.created_at }}"
        }],
        "author": [{
          "@type": "Person",
      "name": {{ shop.name | json }}
        }],
        "reviewRating": [{
          "@type": "Rating",
            "ratingValue": "{{ product.metafields.proviews.averageRatings }}",
        "bestRating": "5",
        "worstRating": "1"
        }]
    }],
  }    
  {% endif %}
  </script>
{% endif %}

<div class="simp-hide" type="hidden" id="simp_current_product_info" data-simp-shop-name='{{shop.name}}' data-simp-product-url='{{shop.url}}{{product.url}}' data-simp-product-title='{{product.title}}' data-simp-product-type='{{product.type}}' data-simp-product-id ='{{product.id}}' name="simp_current_product_info" ></div>   
<h2 class="simp-heading" id = "simp_reviews_widget_title">Customer Reviews</h2>
  <div class="simp-messages">
    <div class="simp-thank-you">
      <h3 id ="simp-user-reply-message" ></h3>  
    </div>     
  </div>
  <div id="simp_summary_header" class="simp-summary-header">
    {{product.metafields.proviews.calculationReview}} 
    <div id="simp_summary_actions" class="simp-summary-actions">
      <button class="simp-summary-actions-newreview" id="simp-summary-actions-newreview">Write a Review</button>
      <button class="simp-summary-actions-newquestion" id="simp-summary-actions-newquestion" style="">Ask a Question</button>
    </div>
  </div>
  <div id="simp_content" class="simp-content">
    <div id="simp_tabmenu_container" class="simp-tabmenu-container">
      <ul id="simp_tabs_menu" class="simp-tabs-menu" data-simp-default-tab="simp-reviews-tab">
        <li class="simp-tabs-menu-links active" data-simp-content="simp-reviews-content" id="simp-reviews-tab"  data-type="reviews" data-count="{% if product.metafields.proviews.totalReviewCount != blank %} {{product.metafields.proviews.totalReviewCount}} {% else %} 0 {% endif %} " aria-label="Reviews">Reviews</li>
        <li class="simp-tabs-menu-links" data-simp-content="simp-questions-content" id="simp-questions-tab" data-type="questions" style="" data-count="{% if product.metafields.proviews.totalQuestionCount != blank %} {{product.metafields.proviews.totalQuestionCount}} {% else %} 0 {% endif %}" aria-label="Questions" data-new-tab="">Questions</li>
      </ul>
    </div>
    <div id="simp-reviews-content" class="simp-tab-content simp-reviews-content-tab">
      <div class="rating-filter-simp">
        <div class="simp-dropdown" id="simp__select_option_sort_reviews">
          <label for="simp_sort_reviews">Sort by:</label>
        </div>
      </div>
      <div class="simp-review-form-tab" style="display:none;">       
        <form action="javascript:void(0);" method="post" name="simp_review_form" id="simp_review_form" class="simp-form" enctype="multipart/form-data">
          <h4 id="simp-review-form-title" class="simp-form-title">Write a Review</h4>
          <div class="simp-form-wrap">
            <div class="simp-form-row">
              <label id="simp_reviewer_name_label" for="simp_reviewer_name" class="field-label">Name</label>
              <input id="simp_reviewer_name" class="simp-text-field" type="text" name="simp_reviewer_name" maxlength="100" data-validate-field="simp_reviewer_name" placeholder="Enter Your Name" >
            </div>
            <div class="simp-form-row half-row">
              <label id="simp_reviewer_email_label" for="simp_reviewer_email" class="field-label email-label">Email</label>
              <input class="simp-text-field simp-emial-feald" id="simp_reviewer_email" type="email" maxlength="150" name="simp_reviewer_email" data-validate-field="simp_reviewer_email" placeholder="name@example.com" >
            </div>
            <div class="simp-form-col">
              <label id="simp_review_title_label" for="simp_review_title" class="field-label">Title of Review</label>
              <input class="simp-text-field simp-title-field" id="simp_review_title" type="text" name="simp_review_title" data-validate-field="simp_review_title" placeholder="Give your review a Title" >
            </div>            
            <div class="simp-form-col">
              <label id="simp_review_body_label" for="simp_review_body" class="field-label">How was your overall experience?</label>
              <textarea class="simp-textarea" id="simp_review_body" name="simp_review_body" rows="3" maxlength="1000" data-validate-field="simp_review_body" placeholder="Write your Review here"></textarea>
            </div>
            <div class="simp-rating-row">
              <label id="simp_reviewer_rating_label" for="reviewRating" class="field-label">Rating</label>
              <div id="simp_rating_stars">
                <div class="rating-group">
                    <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
                    <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star simp-icon simp-fa-star"></i></label>
                    <input class="rating__input" name="simp_reviewer_rating" id="rating-1" value="1" type="radio">
                    <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star simp-icon simp-fa-star"></i></label>
                    <input class="rating__input" name="simp_reviewer_rating" id="rating-2" value="2" type="radio">
                    <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star simp-icon simp-fa-star"></i></label>
                    <input class="rating__input" name="simp_reviewer_rating" id="rating-3" value="3" type="radio" >
                    <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star simp-icon simp-fa-star"></i></label>
                    <input class="rating__input" name="simp_reviewer_rating" id="rating-4" value="4" type="radio">
                    <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star simp-icon simp-fa-star"></i></label>
                    <input class="rating__input" name="simp_reviewer_rating" id="rating-5" value="5" type="radio" checked>
                </div>
              </div>              
            </div>
            <div class="simp-reviews-custom-fields" id="simp_reviews_custom_fields">
            {% if product.metafields.proviews.reviewsCustomFields != blank %}  {{product.metafields.proviews.reviewsCustomFields }} {% endif %}
            </div>
            <div class="simp-radio-row bar"> <span id="simp_reviewRecommendProduct_label" class="recommend-label">Do you recommend this product?</span>
              <label class="simp-radio-label simp-recommend-yes"><input class="simp-input-radio" type="radio" name="reviewRecommendProduct" value="true"><span id="simp_reviewrecommendproduct_label_yes">Yes</span></label>
              <label class="simp-radio-label simp-recommend-no"><input class="simp-input-radio" type="radio" name="reviewRecommendProduct" value="false"><span id="simp_reviewrecommendproduct_label_no">No</span></label>
            </div>
            <div class="avatar-upload"  id= "simp_pictures_upload"  >
                <div id="simp_pictures_input"  class="avatar-edit">
                    <input type='file' id="simp-pictures" data-validate-field="pictures" name= "simp-pictures" multiple accept=".jpeg, .jpg, .png, .bmp, .gif, .mp4, .avi, .m4v, .m4p, .flv, .mkv, .mov, .webm, .wmv, .avchd, .ogv, .ogg" />
                    <label id="simp_pictures_label" for="simp-pictures"></label>
                </div>
                <div id="simp_pictures_preview" class="avatar-preview">
                    <div class="simp-image-preview imagePreview" style=""></div>
                </div>
            </div>
            <button type="submit" class="btn-primary simp-submit-btn" id="simp-review-submit-btn">Submit Your Review</button>
            <button type="button" class="btn-primary simp-cancel-btn" id="simp-review-cancel-btn">Cancel</button>
          </div>
        </form>
      </div>
      <div id="simp__review_set_loader" class="simp-set-loader" style="display :none;"> 
        <div class="simp-ripple-loader"><div></div><div></div></div>  
      </div>
      <div >
        <ul id="simp_all_review_pagination" class="simp-review-list">  
          {% if product.metafields.proviews.review != blank %} {{product.metafields.proviews.review}} {% else %} <div class="simp-review" data-verified="buyer"></div>   {% endif %}
        </ul>   
      </div>
      <ul class="simp-review-pagination simp-hide" id = "simp_review_pagination" >
        <li id="reviews_pagination_btn_prev" class="previous"><a href="javascript:paginationPrevPage()" role="button" aria-label="Previous page" tabindex="0"><i class="simp-icon simp-fa-angle-left"></i></a></li>
        <li id="call_reviews_page_link_li_1" class="page active"><a href="javascript:paginationCallPage('call_reviews_page_link_1')" data-reviews-pagination-id='1' id="call_reviews_page_link_1" aria-label="Page 1" tabindex="0">1</a></li>
        <li id="call_reviews_page_link_li_2" class="page "><a href="javascript:paginationCallPage('call_reviews_page_link_2')" data-reviews-pagination-id='2' id="call_reviews_page_link_2" role="button" aria-label="Page 2" tabindex="0">2</a></li>
        <li id="call_reviews_page_link_li_3" class="last"><a href="javascript:paginationCallPage('call_reviews_page_link_3')" data-reviews-pagination-id='3' id="call_reviews_page_link_3" role="button" aria-label="Page 3" tabindex="0">3</a></li>
        <li id="reviews_pagination_btn_next" class="next"><a href="javascript:paginationNextPage()" role="button" aria-label="Next page" tabindex="0"><i class="simp-icon simp-fa-angle-right"></i></a></li>
      </ul>      
    </div>
    <div id="simp-questions-content" class="simp-tab-content simp-questions-content-tab" style="display:none;">
      <div class="rating-filter-simp">
        <div class="simp-dropdown" id="simp__select_option_sort_question">
          <label for="simp_sort_question">Sort by:</label>
        </div>
      </div>
      <div class="simp-question-form-tab" style="display:none;">
        <form action="javascript:void(0);" method="post" id="simp_question_form" name="simp_question_form" class="simp-form">
          <h4 id="simp-question-form-title" class="simp-form-title">Ask a Question</h4>
          <div class="simp-form-wrap">
            <div class="simp-form-row">
              <label id="simp_question_name_label" for="simp_question_name" class="field-label">Name</label>
              <input class="simp-text-field" type="text" id="simp_question_name" data-validate-field="simp_question_name" name= "simp_question_name" placeholder="Enter Your Name" >
            </div>
            <div class="simp-form-row half-row">
              <label id="simp_question_email_label" for="simp_question_email" class="field-label email-label">Email</label>
              <input class="simp-text-field simp-emial-feald" id="simp_question_email" data-validate-field="simp_question_email" name= "simp_question_email" type="email" placeholder="name@example.com" >
            </div>
            <div class="simp-form-col">
              <label id="simp_question_label" for="simp_question" class="field-label">Question</label>
              <textarea class="simp-textarea" id="simp_question" data-validate-field="simp_question" name= "simp_question" rows="3" maxlength="1000" placeholder="Write your question here" ></textarea>
            </div>
            <button type="submit" class="btn-primary simp-submit-btn" id="simp-question-submit-btn">Submit Question</button>
            <button type="button" class="btn-primary simp-cancel-btn" id="simp-question-cancel-btn">Cancel</button>
          </div>
        </form>
      </div>
      <div id="simp_all_questions_pagination">
      {% if product.metafields.proviews.questions != blank %} {{product.metafields.proviews.questions}} {% else %} <div id="simp_no_question_text" class="simp-review">Ask your Question about this product</div> {% endif %}     
      </div>
     <ul class="simp-review-pagination simp-hide" id = "simp_question_pagination" >
        <li id="question_pagination_btn_prev" class="previous"><a href="javascript:paginationQuestionPrevPage()" role="button" aria-label="Previous page" tabindex="0"><i class="simp-icon simp-fa-angle-left"></i></a></li>
        <li id="call_question_page_link_li_1" class="page active"><a href="javascript:paginationQuestionCallPage('call_question_page_link_1')" data-questions-pagination-id='1' id="call_question_page_link_1" aria-label="Page 1" tabindex="0">1</a></li>
        <li id="call_question_page_link_li_2" class="page "><a href="javascript:paginationQuestionCallPage('call_question_page_link_2')" data-questions-pagination-id='2' id="call_question_page_link_2" role="button" aria-label="Page 2" tabindex="0">2</a></li>
        <li id="call_question_page_link_li_3" class="last"><a href="javascript:paginationQuestionCallPage('call_question_page_link_3')" data-questions-pagination-id='3' id="call_question_page_link_3"role="button" aria-label="Page 3" tabindex="0">3</a></li>
        <li id="question_pagination_btn_next" class="next"><a href="javascript:paginationQuestionNextPage()" role="button" aria-label="Next page" tabindex="0"><i class="simp-icon simp-fa-angle-right"></i></a></li>
     </ul>
    </div>
    {% if product.metafields.proviews.totalReviewCount == blank or product.metafields.proviews.totalReviewCount == "0" %}
    <div class="simp-first-review-div">  
        <div class="simp-first-review-messages" >
            <span class="simp-preview-badge"> 
                <i class="simp-icon simp-fa-star"></i> 
                <i class="simp-icon simp-fa-star"></i> 
                <i class="simp-icon simp-fa-star"></i> 
                <i class="simp-icon simp-fa-star"></i> 
                <i class="simp-icon simp-fa-star"></i> 
            </span>
            <div class="simp-first-review-txt" id = "simp_first_review_message" >Be the first to review this item</div>
        </div>
    </div>
    {% endif %}
  </div>
<!-- Proviews End -->

 {% endcomment %}